{% extends 'base.html' %}

{% block title %}Delete Tenant - Real Estate Finance Tracker{% endblock %}

{% block content %}
<div class="main-content">
    <div class="form-container">
        <h1>Delete Tenant</h1>
        <p>Are you sure you want to delete this tenant?</p>
        
        <form method="post" class="card">
            {% csrf_token %}
            
            <!-- Submit Buttons -->
            <button type="submit" class="btn-metallic btn-negative-metallic">Yes, Delete Tenant</button>
            <a href="{% url 'property_detail' property.id %}" class="btn-metallic btn-secondary-metallic">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}